<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Store</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <form action="" method="post" class="form-control">
                {%csrf_token%}
                <table class="mx-auto">
                    {{form.as_table}}
                </table>

                <div class=" mt-2 text-center">
                    <button type="submit" class="btn btn-success">Add</button>
                </div>
            </form>
            </div>
            <div class="col-4">
                <div class="text-center">
                    <a href="{%url 'brand_list'%}" class="btn btn-info ">View Brands</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>